<!-- <app-data-binding></app-data-binding> -->
<!-- <app-progress-bar
  [progress]="progress"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'#2e8b57'"
></app-progress-bar>
<input
  type="number"
  [ngModel]="progress"
  (ngModelChange)="progress = +$event"
/> -->

<!-- <h2 style="margin-top: 30px">Compoent interactive</h2>
<app-author-list></app-author-list> -->

<h2 style="margin-top: 30px">Custom two-way binding</h2>
<app-toggle [(checked)]="checked" #toggleComp></app-toggle>
<p *ngIf="checked" style="max-width: 400px">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt possimus eius
  provident aspernatur officia rem culpa sit, excepturi temporibus et iusto vero
  quisquam quis architecto voluptatibus? Inventore, hic vel! Quod?
</p>

<h2 style="margin-top: 30px">Template variable</h2>
<button (click)="logger(toggleComp); toggleComp.toggle()">toggle</button>
<div *ngIf="11 >= 13; else noPG13">Bạn có thể xem nội dung PG-13</div>
<ng-template #noPG13>
  <div>Bạn không thể xem nội dung PG-13</div>
</ng-template>
